.Select {

  appearance: none;
  border: 0;
  outline: 0;
  /* font: inherit; */
  width: 10em;
  height: 40px;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      var(--glass),
      var(--glass-icon) 3em
    );
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
 ;
}

.Select option {
    color: inherit;
    background-color: var(--option);
}

.Select section:focus {
    outline: none;
}
.Select section::-ms-expand  {
    display: none;
}